<div class="menu">
  <h3>Inhaltsfilter</h3>
  <details>
    <summary>Kapitel (chronologisch)</summary>
    <ul>
      <li><a href="/{{ page.lang }}/kapitel/1/">1. Griechenland 1945–1949</a></li>
      <!-- Füge mehr hinzu -->
    </ul>
  </details>
  <details>
    <summary>Regionen</summary>
    <ul>
      <li><a href="/{{ page.lang }}/regionen/europa/">Europa</a></li>
      <li><a href="/{{ page.lang }}/regionen/asien/">Asien</a></li>
      <!-- Gruppiere aus Inhaltsverzeichnis -->
    </ul>
  </details>
  <details>
    <summary>Methoden</summary>
    <ul>
      <li><a href="/{{ page.lang }}/methoden/propaganda/">Propaganda</a></li>
      <li><a href="/{{ page.lang }}/methoden/putsch/">Putsch-Logistik</a></li>
      <!-- Aus Kapitel 42 -->
    </ul>
  </details>
</div>
